html {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

.ck.ck-editor.ck-reset {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ck.ck-editor__main {
    flex: 1;
    overflow: hidden;
}

.ck.ck-editor__editable_inline {
    height: calc(100% - 2px);
    border: none;
    padding: 0 1rem;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    border: none;
    box-shadow: none;
}

.ck.ck-toolbar {
    border: none;
    background-color: #f7f7f7;
}

.ck.ck-content * {
    line-height: 1.5;
}

.ck.ck-content p {
    margin-block: 0;
}

.ck.ck-content ul,
.ck.ck-content ol {
    margin-block: 0;
    padding-inline-start: 1.5rem;
}

.ck-content .mention {
    background-color: rgb(239, 246, 255);
    color: rgb(29, 78, 216);
    text-decoration: none;
}

.ck.ck-list__item .ck-button.ck-on {
    background-color: #E0F1F2;
}

.ck.ck-mentions {
    max-height: 200px;
}

.mce-mention-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mce-mention-item .mce-mention-avatar {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
